@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-slate-700 rounded;
}

/*
 * Loader
 */
.loader {
    @apply relative w-full h-2 rounded overflow-hidden bg-gray-300 dark:bg-slate-700;
}
.loader::before {
    animation: loader 1s infinite ease-in-out;
    @apply content-[''] absolute left-[-10%] top-0 rounded w-[10%] h-full bg-primary-600;
}
@keyframes loader {
    50% {
        width: 60%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}
